            <div class ="container">
       <div class ="row">
    <div class = "col-lg-12">
<div class ="drink-show">
<h5>今日のコーヒー</h5>
<p><%= attachment_image_tag @drink, :image, format: 'jpeg', fallback: "no_image.jpg", size:'150x150' %></p>
<h5>タイトル</h5>
<p><%= @drink.title%></p>
<h5>テキスト</h5>
<p><%= @drink.text%></p>
<h5>チェーン名</h5>
<p><%= @drink.chain.title%></p>
<%if @drink.user == current_user %>
<%= link_to "削除",drink_path(@drink),method: :delete%>
<%= link_to "編集",edit_drink_path(@drink) %>
<% end %>
</div> 

<%# <div id="#favorirites_buttons_<%= @drink.id %>
<%= render partial: 'drinks/like', locals: { drink: @drink}%>
<%# </div> %>



<%= form_with(model:[@drink,@comment],local: true) do |f| %>
  <div class = "drink-comment-form">

    <%= f.label :text, 'コメント',class:"drink-label" %><br>
    <%= f.text_area :text,class:"form-control" %>
  </div>

    <br>
  <div class = "drink-comment-form">
    <%= f.submit "送信",class:"btn-edit-user btn btn-primary btn-lg" %>
    <% end %>		
<% @drink.comments.each do |comment|%>
<div class = "comment-area">
<p>コメント内容:<%= comment.text%></p>
<p>名前:<%= comment.user.name%></p>
<% if comment.user.id == current_user.id%>
<%=link_to "削除",drink_comment_path(comment.drink_id,comment),class:"btn btn-danger btn-lg",method: :delete,data: {confirm:"#{comment.text}を削除しますか？"}%>
<% end %>
</div>
<% end %>




    </div> 
        </div>
           </div>
