<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">イメージ</th>
      <th scope="col">ユーザー名</th>
      <th scope="col">投稿回数</th>
      <th scope="col">コーヒーへの情熱</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% i = 0 %>
    <% @users.each do |user| %>
  <tbody>
    <tr>
      <td><%= i+=1%></td>
      <%=link_to user_path(user) do %>
      <td><%= attachment_image_tag user, :image, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %></td>
      <%end%>
      <td><%= user.name%></td>
      <td><%= user.name%></td>
      <td><%= user.introduction%></td>
      <td><%= link_to "Show",user_path(user)%></td>
    </tr>
  </tbody>
  <% end %>
</table>
