<div class="login" style= "margin-top:150px":>
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name),class:"login-container") do |f| %>
  
  <div class="field">
    <%= f.label :email,class:"font-color" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password,class:"font-color" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
</div>
