            <header class = "clearfix">
        <div class = "header-logo">CoffeeLife</div>
<div class = "header-list">
    <nav>
  <ul>
<li><%=link_to "新規投稿",new_drink_path,class:"btn btn-info"%> </li>
<li><%=link_to "投稿一覧", drinks_path,class:"btn btn-info"%> </li>
<li><%=link_to "ユーザー一覧", users_path,class:"btn btn-info"%> </li>
<li><%=link_to "ログアウト", destroy_user_session_path,method: :delete,class:"btn btn-info"%> </li>
<li>ようこそ、<%= current_user.name%>さん</li>
  </ul>
  </nav>
        </div>
             </header>
