<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeLife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>

  <% if user_signed_in? %>
      <%= render 'layouts/after_login'%>
  <% end %>
    <%= yield %>
     <% if user_signed_in? %>
    <footer>
    <span>Product by Yoichi Hashimoto</span>
    </footer>
    <% end %>
  </body>
</html>
